[u]Mod Showcase: [b]{{{title}}}[/b][/u]

[i]Exported from Vortex by {{user}}[/i]

[b][u]{{{game}}} Mods[/u][/b]

[spoiler]

{{#mods}}
[b]{{name}}{{#version}} {{.}}{{/version}}[/b]

[quote]Installed {{{installed}}} {{#source}}from {{{.}}}{{/source}}
Created by {{author}} for {{gameId}} ({{category}})
[/quote]

{{{ description }}}

{{/mods}}
[/spoiler]