[size=22]Mod Showcase: [b]{{title}}[/b][/size]

[i]Exported from Vortex by {{user}}[/i]

[size=18]{{{game}}} Mods[/size]

{{#mods}}
[b]{{name}} v{{version}}

[quote]Installed {{{installed}}} from {{{source}}}
Created by {{author}} for {{gameId}} ({{category}})
[/quote]

{{ description }}

{{/mods}}