Name,Game ID,Version,Source,InfoLink,Category,Author,Installation Date,Description
{{#mods}}
"{{name}}",{{gameId}},{{version}},"{{{source}}}","{{{link}}}",{{category}},{{author}},"{{{installed}}}","{{{description}}}"
{{/mods}}