## Mod Showcase: {{{title}}}

**Exported from Vortex by {{user}}**

## {{{game}}} Mods

<hr />
<hr />

{{#mods}}
### {{name}} {{#version}}{{.}}{{/version}}

Installed {{{installed}}} {{#source}}from {{{.}}} {{/source}}{{#category}}({{.}}) {{/category}}

{{#image}}
<img src="{{{.}}}" alt="mod-image" height="350" />
{{/image}}

> By {{author}} for {{gameName}} ({{{type}}})

{{{description}}}

{{#notes}}

**Notes**: {{{.}}}

{{/notes}}



<hr />

{{/mods}}