## Mod Showcase: {{title}}

**Exported from Vortex by {{user}}**

## {{{game}}} Mods

{{#mods}}
#### {{name}} v{{version}}

Installed {{{installed}}} from {{{source}}}

> by {{author}} for {{gameId}}
> Category: {{category}}

{{description}}


{{/mods}}