## Mod Showcase: {{{title}}}

**Exported from Vortex by {{user}}**

## {{{game}}} Mods

{{#mods}}
#### {{name}} {{#version}}v{{.}}{{/version}}

Installed {{{installed}}} {{#source}}from {{{.}}}{{/source}}

{{#image}}
<img src="{{.}}" alt="mod-image" width="200" height="200"/>
{{/image}}

> by {{author}} for {{gameId}}

> Category: {{category}}

{{{description}}}


{{/mods}}