Mod Showcase: {{{title}}}
---
Exported from Vortex by {{user}}
---

{{#mods}}
====================================================
{{name}} {{#version}}{{.}}{{/version}}
====================================================
By {{author}} for {{gameName}} {{#type}}({{{.}}}){{/type}}
====================================================

{{{description}}}

--------
Installed {{{installed}}} {{#source}}from {{{.}}} {{/source}}{{#category}}({{.}}) {{/category}}{{#link}}
{{{.}}}{{/link}}
{{#notes}}--------
Notes: {{{.}}}
{{/notes}}--------


{{/mods}}